<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding Packages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Wedding Packages</h1>
<div >
    <div class="container my-2"></div>
    <a th:href="@{/newWeddingPackageForm}" class="btn btn-primary btn-sm mb-3">Add new package</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Package number</th>
            <th>Wedding hours</th>
            <th>Wedding style</th>
            <th>Package price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weddingPackage : ${listWeddingPackages}">
            <td th:text="${weddingPackage.name}"></td>
            <td th:text="${weddingPackage.hours}"></td>
            <td th:text="${weddingPackage.styles}"></td>
            <td th:text="${weddingPackage.price}"></td>
            <td> <a th:href="@{/updateWeddingPackage/{id}(id=${weddingPackage.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteWeddingPackage/{id}(id=${weddingPackage.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>