<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drink Packages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Drink Packages</h1>
<div >
    <div class="container my-2"></div>
    <a th:href="@{/newDrinkPackageForm}" class="btn btn-primary btn-sm mb-3">Add new package</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Package name</th>
            <th>Package detail</th>
            <th>Package price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drinkPackage : ${listDrinkPackages}">
            <td th:text="${drinkPackage.name}"></td>
            <td th:text="${drinkPackage.detail}"></td>
            <td th:text="${drinkPackage.price}"></td>
            <td> <a th:href="@{/updateDrinkPackage/{id}(id=${drinkPackage.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteDrinkPackage/{id}(id=${drinkPackage.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}"> Back to Home</a>
</div>
</body>
</html>