<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add New Add-on</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Add New Add-on</h1>

    <form action="#" th:action="@{/saveAddOn}" th:object="${addOn}" method="POST">
        <label>Add-on Name:
            <input type="text" th:field="*{name}" required placeholder="Enter name" class="form-control mb-4 col-4">
        </label>

        <label>Add-on Detail
            <input type="text" th:field="*{detail}"  required placeholder="Enter detail" class="form-control mb-4 col-4">
        </label>

        <label>Add-on Price:
            <input type="number" th:field="*{price}" required  min="0" placeholder="Enter price" class="form-control mb-4 col-4">
        </label>

        <button type="submit" class="btn btn-info col-2"> Save </button>
    </form>

    <hr>

    <a th:href="@{/adminAddOns}">Back to Additional list</a>
</div>
</body>

</html>